import { SearchOutlined, UndoOutlined } from '@ant-design/icons';
import { Button, Form, Input, Space } from 'antd';
import { BizDictSelect } from '@/components';
import { __ModuleName___STATUS_OPTIONS } from '../constants';
import type { __ModuleName__Query } from '../types';

interface __ModuleName__SearchFormProps {
  loading?: boolean;
  onSearch: (values: __ModuleName__Query) => void;
  onReset: () => void;
}

const __ModuleName__SearchForm = ({
  loading,
  onSearch,
  onReset,
}: __ModuleName__SearchFormProps) => {
  const [form] = Form.useForm<__ModuleName__Query>();

  return (
    <Form<__ModuleName__Query> form={form} layout="inline" onFinish={onSearch}>
      <Form.Item name="keyword" label="关键字">
        <Input allowClear placeholder="名称 / 编码 / 负责人" />
      </Form.Item>
      <Form.Item name="status" label="状态">
        <BizDictSelect
          options={__ModuleName___STATUS_OPTIONS}
          placeholder="请选择状态"
          style={{ width: 160 }}
        />
      </Form.Item>
      <Form.Item>
        <Space>
          <Button
            htmlType="submit"
            icon={<SearchOutlined />}
            loading={loading}
            type="primary"
          >
            查询
          </Button>
          <Button
            icon={<UndoOutlined />}
            onClick={() => {
              form.resetFields();
              onReset();
            }}
          >
            重置
          </Button>
        </Space>
      </Form.Item>
    </Form>
  );
};

export default __ModuleName__SearchForm;
